@import '../../../styles/colors';

ul {
    list-style-type: none;
    padding: 0;
}
ul li{
    width: inherit;
    margin-bottom: 20px;
}

a{
    display: block;
    text-decoration: none;
    color: $text;
}
a:hover{
    color: $text-hover;
}

ul mat-icon{
    margin-bottom: -5px;
    margin-right: 20px;
}

.active {
    border-right: 3px solid green;
    color: $text-hover;
}

