$text : gray;
$text-hover : black; 
$text-size : 16px;

$card-prime : #F0EBE3;
$card-icon : #E4DCCF;
$card-icon-hover : rgba(228, 220, 207, 0.5);
$card-icon-active : rgba(228, 220, 207, 0.8);
$card-todo : #7D9D9C;
$card-todo-hover: #576F72;
