@import '../../styles/colors';

.container{
    margin: 15px;
    .title{
        font-size: x-large;
        font-weight: 500;
    }
    .todo-lists{
        margin-top: 2em;
        app-todo-list{
            display: flex;
            flex-flow: row wrap;
        }
    }

}